<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
      <div class="container">
        <div class="row">
          <img src="https://image.flaticon.com/icons/svg/1373/1373287.svg" width="100px" height="100" alt ="">
        </div>
        <div class="row">
          <button on-click="incrementar" class="btn btn-success" type ="button" name ="button">cargar datos</button>
          <input type="text" placeholder="[[prop3]]" value="{{prop1::input}}" >
          <input type="text" name="" value="[[prop1]]">
          <!-- prop1 puede cambiar a {{prop1}} y este se convierte en bidireccional  -->


        </div>
        <div class ="row">
          <table class ="table table-striped col-lg-12 col-xs-12">
            <thead>
              <th>ID</th>
              <th>Nombre</th>
              <th>Apellido</th>

            </thead>
            <tbody>
              <tr>
                <td>[[prop2]]</td>
                <td>Elena</td>
                <td>Nito</td>
              </tr>
              <tr>
                <td>4</td>
                <td>jorge</td>
                <td>Ruiz</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            //value: 'demopolymer-app'   **se comenta
          },
          prop2:{
            type: Number,
            value:999
          },
          prop3:{
            type: String,
            value: 'indique usuario'
          }
        };
      }
      incrementar(){
        this.prop2 = this.prop2 + 1;
        console.log("propiedad 1 " + this.prop1);
        console.log("propiedad 2 " +this.prop2);
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
