<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="loggin-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax id = "hacerLogin"
              url="http://localhost:3000/apitechu/v5/login"
              method="POST"
              handle-as="json"
              on-response ="mostrarResultadoLogin"
              on-error="mostrarError">
    </iron-ajax>


      <div class="container">

        <div class="row">

          Email: <input type="email" value="{{email::input}}" >
          <br/>

          Password:<input type="password" value="{{password::input}}">
          <br/>
          <button on-click="logar" class="btn btn-success" type ="button" name ="button">Login</button>

          <!-- prop1 puede cambiar a {{prop1}} y este se convierte en bidireccional  -->
        </div>
        <div class="row">
          <span hidden$="{{!logado}}">Bienvenido a la app</span>

        </div>

      </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class logginapp extends Polymer.Element {
      static get is() { return 'loggin-app'; }
      static get properties() {
        return {
          email: {
            type: String
            //value: 'demopolymer-app'   **se comenta
          },
          password:{
            type: String
            //value:999
          },
          logado:{
            type: Boolean,
            value: false
          }
        };
      }
      mostrarResultadoLogin(){

        console.log("1: llegó el resultado" );
        console.log(resultado );

        console.log("2: procesó el resultado ");
        this.logado = true;
      }
      logar2(){
        console.log("Se ha pulsado el botón login " );
        console.log("email "+ this.email);
        console.log("password "+ this.password);
        console.log(this.$.hacerLogin);
        this.$.hacerLogin.headers['email']= this.email;
        this.$.hacerLogin.headers['password']= this.password;
        this.$.hacerLogin.generateRequest();
      }
      mostrarError(){
        console.log(error);
        this.login= false;

      }
      logar(){
        var request = new XMLHttpRequest();
        request.open("POST","http://localhost:3000/apitechu/v5/login",false );
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        request.setRequestHeader("email", this.email);
        request.setRequestHeader("password", this.password);
        console.log("Se ha pulsado el botón login " );
        console.log("2");
        //var nuevoCliente = {"CustomerID":"12345", "ContactName":"pepe","CompanyName":"BBVA"};
        //var body = JSON.stringify(nuevoCliente);

        request.send();
        this.respuesta = request.responseText;
        console.log(this.respuesta);
        console.log(request.status);


        if(request.status ==200){
          this.logado =true;
        }else{
          this.logado=false;
        }




      }


    }

    window.customElements.define(logginapp.is, logginapp);
  </script>
</dom-module>
